<div class="py-5 px-1">
    <ul>
        <li>
            <b>배송비: 기본배송료는 2,500원 입니다.</b>
        </li>
        <li>
            배송은 주문일로부터 3~5일(주말/공휴일 제외)이 소요됩니다.
        </li>
        <li>
            도서, 산간, 오지 일부 지역은 배송비가 추가될 수 있으며 배송일이 추가 소요될 수 있습니다.
        </li>
        <li>
            배송 출고 마감 시간은 평일 오후 2시입니다. 오후 2시 이후 주문건은 익일 발송됩니다.
        </li>
    </ul>
</div>