<div class="py-5 px-1">
    <h3>교환 및 반품안내</h3>
    <div class="row mt-3 mb-4">
        <ul>
            <li>
                상품 청약철외 가능 기간은 <b>상품 수령일로부터 7일 이내</b>입니다.
            </li>
            <li>
                비닐/제품 개봉 및 펀칭으로 인한 <b>상품 가치 훼손시에는 7일 이내라도 교환 및 반품이 불가능</b>합니다
            </li>
            <li>
                청약 철회시 <b>단순 변심으로 인한 반품은 구매자 측에서 왕복 배송료를 모두 부담</b>하셔야 합니다.
            </li>
            <li>
                반품 및 교환 요청시 반품하시는 제품은 <b>반드시 별도의 박스</b>에 반품 해주시는 경우에만 반품 및 교환처리가 가능합니다.
            </li>
            <li>
                <b>게임 박스에 송장을 직접 붙이시거나, 게임 박스만 보내실 경우</b> 파손 및 훼손으로 인한 상품가치 훼손으로 인해 <b>교환 및 반품이 불가능</b>합니다.
            </li>
        </ul>
    </div>

    <h3>환불안내</h3>
    <div class="row mt-3 mb-4">
        <ul>
            <li>
                카드, 휴대폰, 결제 대행 서비스의 경우 환불 처리 후 시일이 걸릴 수 있습니다.
            </li>
            <li>
                일부 결제 서비스의 경우 부분 환불이 불가능할 수 있습니다.
            </li>
            <li>
                수령한 제품이 부분 환불로 인해 무료 배송에서 유료 배송 조건으로 될 경우, 왕복 배송비를 제외한 금액으로 환불됩니다.
            </li>
        </ul>
    </div>

    <h3>AS안내</h3>
    <div class="row mt-3 mb-4">
        <ul>
            <li>
                박스 손상 및 구성품 손망실은 <b>제품 수령 후 <span style="color:red">7일 이내</span> 문의하실 경우에만 처리가 가능</b>합니다.
            </li>
            <li>
                구성품 손망실이 있을시, <b>국내 제작사 제품일 경우 해당 제작사가 AS</b>를 맡습니다.
            </li>
            <li>
                구성품 손망실이 있을시, <b>수입 제품일 경우 제작사로 AS 중계 대행</b>을 해드리며, 이 경우 기간이 소요될 수 있습니다.
            </li>
            <li>
                수입 제품이 절판 상태 혹은 제작사 사정으로 <b>AS가 불가능 할 수도 있으며, 이 경우 환불 처리</b>해드립니다.
            </li>
        </ul>
    </div>

</div>