<div class="row justify-content-between menu mt-4 flex-nowrap" name="PruductViewTab" id="@ViewBag.targetId">
    <div class="col btn btn-outline-secondary px-0 px-sm-1 px-md-2" data-target="#detail">
        <span class="d-none d-md-inline">상품 상세정보</span>
        <span class="d-none d-sm-inline d-md-none">상품<br>상세정보</span>
        <span class="d-inline d-sm-none"><small>상품<br>상세정보</small></span>
    </div>
    <div class="col btn btn-outline-secondary px-0 px-sm-1 px-md-2 " data-target="#review">
        <span class="d-none d-md-inline">상품후기</span>
        <span class="d-none d-sm-inline d-md-none">상품<br>후기</span>
        <span class="d-inline d-sm-none"><small>상품<br>후기</small></span>
    </div>
    <div class="col btn btn-outline-secondary px-0 px-sm-1 px-md-2" data-target="#inquiry">
        <span class="d-none d-md-inline">상품문의</span>
        <span class="d-none d-sm-inline d-md-none">상품<br>문의</span>
        <span class="d-inline d-sm-none"><small>상품<br>문의</small></span>
    </div>
    <div class="col btn btn-outline-secondary px-0 px-sm-1 px-md-2" data-target="#delivery">
        <span class="d-none d-md-inline">배송정보</span>
        <span class="d-none d-sm-inline d-md-none">배송<br>문의</span>
        <span class="d-inline d-sm-none"><small>배송<br>정보</small></span>

    </div>
    <div class="col btn btn-outline-secondary px-0 px-sm-1 px-md-2" data-target="#exchange">
        <span class="d-none d-md-inline">교환 및 반품정보</span>
        <span class="d-none d-sm-inline d-md-none">교환 및<br>반품정보</span>
        <span class="d-inline d-sm-none"><small>교환 및<br>반품정보</small></span>
    </div>
</div>
